<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<title>Kelulusan Mahasiswa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div align="center">
	<h1 class="page-header">Kelulusan Mahasiswa</h1>
	</div>
	
	<form action="/kelulusan" method="get">
	<div class="form-group">
            <div class="form-group">
                <label for="tahun_masuk">Tahun</label>
            </div>
            <div class="form-group">
                <input type="text" name="tahun_masuk" class="form-control"/>
            </div>
		</div>
	<div class="form-group">
            <div class="form-group"  >
                <label for="id_prodi">Program Studi</label>
            </div>
            <div class="form-group"  >
                <input type="text" name="prodi" class="form-control"/>
            </div>
		</div>
	<div>
			<button type="submit" class="btn btn-primary ">Lihat</button>
		</div>
		
	</form>
	
<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>