<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Update student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace = "fragments/fragment :: header" ></div>
	<div class = "container" align="center">
		<h1 class="page-header">Ubah Mahasiswa</h1>
	</div>
	<form action="" method="post" th:object="${mahasiswa}" th:action="@{/mahasiswa/update/{path}(path=${mahasiswa.npm})}">
		<div class = "container">
		
			<div >
				<label for="npm">Nama Lengkap</label> 
			</div>
			<div class="form-group">
				<input type="text" name="nama" th:value="${mahasiswa.nama}" th:field="*{nama}" style="width: 450px;" class="form-control"/>
			<input type="hidden" name="id" th:value="${mahasiswa.id}" th:field="*{id}" style="width: 450px;"/>
			</div>
			<div>
				<label for="name">Tempat Lahir</label> 
			</div>
			<div class="form-group">
				<input type="text" name="tempat_lahir" th:value="${mahasiswa.tempat_lahir}" th:field="*{tempat_lahir}" style="width: 450px;"/>
			</div>
			<div>
				<label for="gpa">Tanggal Lahir</label> 
			</div>
			<div class="form-group">
				<input type="text" name="tanggal_lahir" th:value="${mahasiswa.tanggal_lahir}" th:field="*{tanggal_lahir}" style="width: 450px;"/>
			</div>
			<div>
				<label for="gpa">Jenis Kelamin</label> 
			</div>
			<div class="form-group">
				<select name="jenis_kelamin" th:value="${mahasiswa.jenis_kelamin}" th:field="*{jenis_kelamin}" style="width: 450px;height: 33px">
					<option value="1">Laki-Laki</option>
					<option value="0">Perempuan</option>
				</select>
			</div>
			<div>
				<label for="gpa">Agama</label> 
			</div>
			<div class="form-group">
				<select name="agama" th:value="${mahasiswa.agama}" th:field="*{agama}" style="width: 450px;height: 33px">
					<option value="Islam">Islam</option>
					<option value="Protestan">Protestan</option>
					<option value="Katolik">Katolik</option>
					<option value="Hindu">Hindu</option>
					<option value="Budha">Budha</option>
					<option value="Konghucu">Konghucu</option>
				</select>
			</div>
			<div>
				<label for="gpa">Golongan Darah</label> 
			</div>
			<div class="form-group">
				<select name="golongan_darah" th:value="${mahasiswa.golongan_darah}" th:field="*{golongan_darah}" style="width: 450px;height: 33px">
					<option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
					<option value="A+">A+</option>
					<option value="A-">A-</option>
					<option value="B+">B+</option>
					<option value="B-">B-</option>
					<option value="O+">O+</option>
					<option value="O-">O-</option>
				</select>
			</div>
			<div>
				<label for="gpa">Tahun Masuk</label> 
			</div>
			<div class="form-group">
				<input type="text" name="tahun_masuk" th:value="${mahasiswa.tahun_masuk}" th:field="*{tahun_masuk}" style="width: 450px;"/>
			</div>
			<div>
				<label for="gpa">Jalur Masuk</label> 
			</div>
			<div class="form-group">
				<select name="jalur_masuk" th:value="${mahasiswa.jalur_masuk}" th:field="*{jalur_masuk}" style="width: 450px;height: 33px">
					<option value="Undangan Olimpiade">Undangan Olimpiade</option>
					<option value="Undangan Reguler/SNMPTN">Undangan Reguler/SNMPTN</option>
					<option value="Undangan Paralel/PPKB">Undangan Paralel/PPKB</option>
					<option value="Ujian Tulis Bersama/SBMPTN">Ujian Tulis Bersama/SBMPTN</option>
					<option value="Ujian Tulis Mandiri">Ujian Tulis Mandiri</option>
				</select>
			</div>
			<div>
				<label for="id_prodi">Id Program Studi</label> 
			</div>
			<div class="form-group">
				<input type="text" name="id_prodi" th:value="${mahasiswa.id_prodi}" th:field="*{id_prodi}" style="width: 450px;"/>
			</div>
			<div>
				<label for="status">Status</label> 
			</div>
			<div class="form-group">
				<input type="text" name="status" th:value="${mahasiswa.status}" th:field="*{status}" style="width: 450px;"/>
			</div>
			<div>
				<button type="submit" name="action" class = "btn btn-primary"  value="save">Update</button>
			</div>
		</div>
	</form>

</body>

</html>